/*1. All*/

/** {*/
/*    font-size: 20px;*/
/*}*/

/*.list * {*/
/*    font-size: 10px;*/
/*}*/

/*2. Классы и id*/

/*#wrapper {*/
/*    width: 50%;*/
/*}*/

/*.list {*/
/*    list-style: none;*/
/*}*/



/*3. Контекстный селектор
 Он используется для выбора элементов, удовлетворяющих определённому контексту.
*/

/*ul li {*/
/*    width: 100px;*/
/*}*/

/*.list li {*/
/*    width: 200px;*/
/*}*/

/*4. :visited и :link*/

/*a:link { color: red; }*/
/*a:visited { color: green; }*/

/*5.  Соседний селектор
 Он поможет нам выбрать только тот элемент, который следует сразу же за указанным элементом.
*/
/*.link_a + p {*/
/*    color: #00D2A4;*/
/*}*/
/*6. Селектор прямого потомка
Разница между селекторами X Y и X > Y в том, что в последнем примере мы выберем только прямого потомка.
*/

/*div.box > p {*/
/*    color: red;*/
/*}*/

/*7.  Менее строгий соседний селектор
 Соседний селектор (ul + p) выберет только первый элемент, следующий сразу же за указанным элементом.
 Селектор X ~ Y выберет все элементы p, расположенные после элемента ul.
 */

/*a ~ p {*/
/*    color: #00D2A4;*/
/*}*/

/*8. Селектор аттрибута*/
/*a[title] {*/
/*    color:  gray;*/
/*}*/

/*a[href="https://www.google.ru"] {*/
/*    color: green;*/
/*}*/

/*a[href*='goo'] {*/
/*    color: red;*/
/*}*/

/*a[href^="http"] {*/
/*    color: brown;*/
/*}*/

/*a[href$="ru"] {*/
/*    color: red;*/
/*}*/

/*9. Кастомные дата атрибуты*/
/*p[data-paragraph="true"] {*/
/*    color: red;*/
/*}*/

/*p[data-paragraph~='but'] {*/
/*    color: white;*/
/*    background-color: #00D2A4;*/
/*}*/

/*p[data-paragraph~='and'] {*/
/*    color: red;*/
/*    background-color: #006A63;*/
/*}*/

/*10.  Селектор :not */

ul:not(.list) > li:not(.not-red) {
    color: red;
}
