body {
    margin: 0;
}

html {
    font-size: 20px;
}

.header {
    position: relative;
    background: #F2FAF8;
    box-shadow: 0 0 24px rgba(0, 97, 87, 0.2);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1227px;
    width: 100%;
    margin: 0 auto;
    padding: 4px 15px;
    box-sizing: border-box;
}

.header__logo-wrap {
    width: 54px;
    height: 54px;
}

.header__logo {
    width: 100%;
    height: 100%;
}

.header__menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__item {
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    color: #002F3E;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 24px;
    letter-spacing: 0.35px;
    text-transform: capitalize;
    text-decoration: none;
}

.promo__container {
    max-width: 1227px;
    width: 100%;
    margin: 0 auto;
}

.promo__information {
    margin-top: 16px;
    margin-bottom: 45px;
    padding: 112px 83px;
    box-sizing: border-box;
    background-image: url("../images/promo/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.promo__mobile {
    display: none;
    max-width: 360px;
    width: 100%;
}

.promo__mobile img {
    width: 100%;
}

.promo__title {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 24px 0;
    color: #002F3E;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 3px;
}

.promo__description {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 72px 0;
    color: #002F3E;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.promo__action {
    display: flex;
    align-items: center;
    text-align: center;
    width: 308px;
    padding: 17px 70px;
    box-sizing: border-box;
    border: none;
    background: linear-gradient(90deg, #006A63 -18.66%, #00D2A4 118.08%);
    box-shadow: 0 6px 15px rgba(2, 128, 108, 0.3);
    border-radius: 32px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.35px;
    color: #FFFFFF;
}

.promo__nav-elems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 47px;
    padding: 0 14px;
    box-sizing: border-box;
}

.promo__elem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__image-box {
    width: 48px;
}

.promo__image-box img {
    width: 100%;
}

.promo__elem-description {
    color: #002F3E;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.services {
    background: #F2FAF8;
    padding: 96px 0;
    overflow: hidden;
}

.services__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1227px;
    width: 100%;
    margin: 0 auto;
}

.services__elem {
    position: relative;
}

.services__figure {
    position: absolute;
}

.services__figure--rect1 {
    top: -96px;
    left: 0;
    width: 145px;
    height: 145px;
}

.services__figure--rect2 {
    top: -96px;
    right: -76px;
    width: 270px;
    height: 270px;
}

.services__image-wrap {
    max-width: 584px;
    width: 100%;
}

.services__image {
    width: 100%;
}

.services__elem-promo {
    margin-top: 58px;
    width: 481px;
}

.services__elem-title {
    margin: 0 0 40px 0;
    color: #002F3E;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 58px;
    text-transform: capitalize;
}

.services__elem-description {
    margin: 0;
    color: #002F3E;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

.callback {
    margin-top: 126px;
}

.callback__container {
    max-width: 1227px;
    width: 100%;
    margin: 0 auto;
    padding: 69px 122px 113px;
    box-sizing: border-box;
    background-image: url("../images/callback/bg.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.callback__title {
    margin: 0 0 56px 0;
    color: #002F3E;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 58px;
    text-transform: capitalize;
}

.callback__box {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.callback__field {
    width: calc(50% - 16px);
    height: 48px;
    padding-left: 24px;
    box-sizing: border-box;
    background: #F2FAF8;
    border-radius: 24px;
    outline: none;
    border: none;
    margin-right: 32px;
    color: #8CA1A8;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}

.callback__field:last-child {
    margin-right: 0;
}

.callback__area {
    width: 100%;
    height: 96px;
    margin-bottom: 56px;
    padding: 12px 24px;
    box-sizing: border-box;
    background: #F2FAF8;
    border-radius: 24px;
    color: #8CA1A8;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    resize: none;
}

.callback__btn-wrap {
    display: flex;
    justify-content: flex-end;
}

.callback__submit {
    width: 308px;
    height: 64px;
    background: linear-gradient(90deg, #006A63 -18.66%, #00D2A4 118.08%);
    box-shadow: 0 6px 15px rgba(2, 128, 108, 0.3);
    border-radius: 32px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.35px;
    border: none;
    outline: none;
}

.form2 {
    background: rgb(60, 92, 170);
    font-family: Open Sans, sans-serif;
}
p, label {
    color: #fff;
    font-size: 16pt;
}

/* Hide original inputs */
input[type=checkbox], input[type=radio] {
    display: none;
}

/* Checkboxes */
input[type=checkbox] + label span {
    border: 1px solid #fff;
    font-size: 24pt;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 0.25em;
    margin: 4px 8px 8px 8px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
input[type=checkbox]:checked + label span::after {
    content: "\2713";
}

/* Radio buttons */
input[type=radio] + label span {
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 40pt;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 0.35em;
    margin: 4px 8px 8px 8px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;

}
input[type=radio]:checked + label span {
    background: #fff;
}


.possibilities {
    position: relative;
    overflow: hidden;
}

.possibilities__circle-first {
    position: absolute;
    top: -321px;
    left: -427px;
    z-index: -1;
    width: 1056px;
    height: 1021px;
    background-image: url("../images/possibilities/bg-1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.possibilities__circle {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 1251px;
    height: 1200px;
    background-image: url(../images/possibilities/bg-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 697px;


}


.possibilities__container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 82px 0 88px 0;
    box-sizing: border-box;
}

.possibilities__title {
    margin: 0 0 23px 0;
    color: #2F2A37;
    font-size: 40px;
    font-family: 'Avenir-Extra', sans-serif;
    font-weight: 800;
    line-height: 115%;
    text-align: center;
}

.possibilities__description {
    margin: 0 0 84px 0;
    padding: 0 230px;
    color: #6E6C72;
    font-size: 20px;
    font-family: 'Avenir-Regular', sans-serif;
    line-height: 120%;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards__elem {
    width: calc(33% - 13px);
    margin-right: 25px;
    margin-bottom: 31px;
    padding: 48px 60px 37px 54px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    background: rgba(255,255,255, 0.5);
}

/*.cards__elem:nth-of-type(3) {*/
/*    background: rgb(158,0,255);*/
/*    background: linear-gradient(118deg, rgba(158,0,255,1) 0%, rgba(255,255,255,1) 91%, rgba(255,255,255,1) 100%);*/
/*}*/

/*.cards__elem:nth-of-type(6) {*/
/*    background: rgb(158,0,255);*/
/*    background: linear-gradient(180deg, rgba(158,0,255,1) 0%, rgba(255,255,255,1) 91%, rgba(255,255,255,1) 100%);*/
/*}*/



.cards__elem:nth-of-type(3n) {
    margin-right: 0;
}

.cards__image-wrap {
    height: 70px;
    margin: 0 0 17px 0;
}

.cards__image-wrap--xs {
    height: 60px;
}

.cards__image {
    height: 100%;
}

.cards__title {
    margin: 0 0 21px 0;
    color: #2F2A37;
    font-size: 1.2em;
    font-family: 'Avenir-Bold', sans-serif;
    font-weight: 500;
    line-height: 120%;
}

.cards__description {
    color: #2F2A37;
    font-size: 14px;
    font-family: 'Avenir-Bold', sans-serif;
    font-weight: 500;
    line-height: 120%;
}

.menu {
    display: none;
    position: absolute;
    width: 56px;
    top: 40px;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 62px;
    font-family:'Josefin Sans', sans-serif;
    color: #000000;
    cursor: pointer;
}
.menu::before,
.menu::after {
    position: absolute;
    transition: 0.4s ease;
    opacity: 0;
    pointer-events: none;
}
.menu:before {
    content: "M \00a0 \00a0 \00a0 \00a0 \00a0U";
    top: -60px;
    left: -100%;
    width: 215px;
}
.menu:after {
    content: "N";
    top: 50px;
    left: 96%;
}
.menu:hover::before,
.menu:hover::after {
    top: -4.3px;
    opacity: 1;
    transition: 0.2s ease, opacity 0.17s 0.03s ease-in;
}

.bar {
    width: 80%;
    height: 3px;
    background: black;
    margin: 0 auto 9px;
    transition: transform 0.4s ease;
}

.services__elem-title--mobile {
    display: none;
}

@media screen and (max-width: 650px){
    .header__menu {
        display: none;
    }

    .menu {
        display: inline-block;
    }

    .promo__mobile {
        display: block;
        margin-bottom: 67px;
    }

    .promo__information {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        background-image: none;
    }

    .promo__title {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 41.6px;
        letter-spacing: 3px;
        text-align: center;
    }

    .promo__description {
        margin-bottom: 46px;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.5px;
        text-align: center;
    }

    .promo__action {
        padding: 13px 70px;
    }

    .promo__nav-elems {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .promo__elem {
        width: 50%;
        margin-bottom: 64px;
    }

    .promo__elem-description {
        width: 138px;
    }

    .services {
        padding: 56px 0;
    }

    .services__container {
        flex-wrap: wrap;
        padding: 0 16px;
        box-sizing: border-box;
    }

    .services__elem-title {
        display: none;
    }

    .services__elem-title--mobile {
        display: block;
        font-size: 32px;
    }
}
