//flex
$d-flex: flex;
$justify-center: center;
$justify-sb: space-between;
$align-center: center;
$direction-col: column;

// flags
$flag-to-flex: false;
$flag-flex-direction: false;
$non-justify: false;

//color scheme
$bg-main: #F2FAF8;
$color-main: #002F3E;
$bg-gradient-main: #006A63;
$bg-gradient-sub-main: #00D2A4;
$color-form-elems: #8CA1A8;
$color-sub-main: #FFFFFF;